body {
  margin: .5em;
}

#main {
  position: relative;
  width: fit-content;
}

#graph {
  margin: .5em;
}

#toolbar {
  position: absolute;
  bottom: .5em;
  left: .5em;
  width: calc(100% - 1em);
  display: flex;
  justify-content: space-between;
}